{% extends "base.html" %}
{% block subtitle %}
    <strong>다중 선형회귀</strong> - <small>Iris Sepal Width는?</small>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form action="/regression" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>pregnant</td>
                        <td><input type="text" id="a" class="form-control" 
                            placeholder="pregnant" name="a"></td>
                    </tr>
                    <tr>
                        <td>plasma</td>
                        <td><input type="text" id="b" class="form-control" 
                            placeholder="plasma" name="b"></td>
                    </tr>
                    <tr>
                        <td>pressure</td>
                        <td><input type="text" id="c" class="form-control" 
                            placeholder="pressure" name="c"></td>
                    </tr>					
                    <tr>
                        <td>thickness</td>
                        <td><input type="text" id="d" class="form-control" 
                            placeholder="thickness" name="d"></td>                        
                     </tr>
                     <tr>
                        <td>thickness</td>
                        <td><input type="text" id="d" class="form-control" 
                            placeholder="thickness" name="d"></td>                        
                     </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">확인</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-4"></div>
    </div>                
{% endblock %}